{% extends "base.html" %}

{% block title %}Добавление книги{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <a href="/" class="btn btn-secondary">Back</a>

    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.author.label }}<br>
        {{ form.author(class="form-control") }}<br>
        {% for error in form.author.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    <input type="file" class="form-control-file" id="file" name="file">
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}